node_modules
npm-debug.log*
dist
build
*.env*
logs
*.log
pids
*.pid
*.seed
*.pid.lock
.npm
.eslintcache
*.tgz
.yarn-integrity
.cache
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
Thumbs.db
